.producto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto;
  background: var(--white);
  border: 1px solid var(--charcoal);
  box-shadow: 3px 3px 3px var(--cambridge-blue);
  border-radius: 20px;
  padding: 2rem;
  width: 90%;
}

.producto__carousel {
  width: 90%;
}

.producto__img {
  width: 16rem;
  height: 14rem;
}

.producto__title {
  text-align: center;
}

.producto__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  color: var(--bone);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--cambridge-blue);
}

.producto__list {
  list-style-type: none;
}

.btn-add {
  background-color: var(--charcoal);
  margin: 0 auto;
  width: 10rem;
  border-radius: 20px;
  color: var(--white);
  box-shadow: 1px 1px 1px var(--cambridge-blue);
}

@media (max-width: 768px) {
  .producto {
    flex-direction: column;
  }

  .producto__info {
    margin-top: 1rem;
  }
}
