<div class="container-fluid" *ngIf="load">
  <header *ngIf="load">
    <h4 class="prod-header">{{ producto.nombre }}</h4>
  </header>
  <div class="row" *ngIf="load">
    <div class="col-sm-4">
      <img
        class="img-fluid producto__img"
        src="{{ producto.img_url_1 }}"
        alt="foto del producto"
      />
    </div>

    <div class="col-sm-8" *ngIf="load">
      <ul>
        <li>Precio: ${{ producto.precio }}</li>
        <li>Marca: {{ producto.marca }}</li>
        <li>Categoría: {{ producto.tipo.nombre }}</li>
        <li>Descripción: {{ producto.about }}</li>
        <li>Stock: {{ stock.cantidad }}</li>
      </ul>
      <button class="btn btn-success" (click)="addToCart(producto.producto_id)">
        Agregar al carrito
      </button>
    </div>
  </div>
</div>
