<footer class="footer">
  <img
    src="/assets/pexels-maik-poblocki-3812048.jpg"
    alt="imagen de un teclado con luces led"
    class="footer__img"
  />
  <div class="footer__foot">
    <ul class="footer__social">
      <li class="footer__social-icon">
        <i class="fa-brands fa-facebook-square"></i>
      </li>
      <li class="footer__social-icon">
        <i class="fa-brands fa-twitter-square"></i>
      </li>
      <li class="footer__social-icon">
        <i class="fa-brands fa-instagram-square"></i>
      </li>
    </ul>
    <p class="footer__texto">
      Web realizada por Leonardo Terlizzi - 2022, todos los derechos reservados
    </p>
  </div>
</footer>
