.navbar {
  background: var(--charcoal);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-title {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: wavy;
  text-shadow: 1px 1px 1px var(--bone);
  margin-left: 2rem;
}

.catologo {
  margin-left: -60rem;
}

.nav-txt {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  text-shadow: 1px 1px 1px var(--bone);
  text-decoration: none;
  margin-left: -5rem;
}

.nav-item {
  padding-top: 0.2rem;
}

.nav-icon {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.dropdown {
  margin-left: 5rem;
}

.dropdown-title {
  color: var(--white);
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px var(--bone);
}

.dropdown-item:hover {
  color: var(--white);
  background: var(--bone);
}

.dropdown-menu {
  background-color: var(--charcoal);
  box-shadow: 1px 1px var(--bone);
  position: relative;
  margin-left: -4rem;
}

.dropdown-txt {
  color: var(--white);
  font-weight: 500;
  text-shadow: 1px 1px 1px var(--bone);
}

.pilula {
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  text-align: center;
  background: var(--bone);
  position: relative;
  margin-left: 5px;
  bottom: 2ex;
}

/* .busca {
    display: inline-flex;

} */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .nav-title {
    margin-left: 0rem;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
  }

  .nav-txt {
    margin-left: 0rem;
  }

  .dropdown-menu {
    position: sticky;
  }
}
