<app-control></app-control>
<h1 class="title">Usuarios</h1>
<table class="table tabla">
  <thead class="tabla-title">
    <tr>
      <th>Id</th>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuarios" class="tabla-info">
      <td>{{ user.user_id }}</td>
      <td>{{ user.usuario }}</td>
      <td>{{ user.nombre }} {{ user.apellido }}</td>
      <td>{{ user.email }}</td>
      <td>
        <ul>
          <li *ngFor="let rol of user.roles">{{ rol.nombre }}</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-admin" (click)="hacerAdmin(user.usuario)">
          Hacer Admin
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-footer></app-footer>
