.btn-admin {
  background: var(--bone);
  width: 8rem;
}

.title {
  text-align: center;
}

.tabla {
  margin-bottom: 2rem;
}

.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: rotate(5deg);
  color: var(--white);
}
