.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__bajada {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home__carousel {
  width: 60vw;
  /* margin: 0 auto; */
}

.home__bajada-lateral {
  width: 20vw;
}
