.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__bajada {
  display: flex;
  flex-direction: row;
}

.carousel {
  width: 100%;
  /* margin: 0 auto; */
}

.home__bajada-lateral {
  width: 22.2rem;
}
