<section class="compras">
  <h1 class="compras-title">Mis compras</h1>
  <table class="table compras__tabla">
    <thead>
      <tr class="compras__tabla-title">
        <th>Id</th>
        <th>Items</th>
        <th>Monto</th>
        <th>Fecha</th>
      </tr>
      <tr *ngFor="let compra of compras" class="compras__tabla-info">
        <td>{{ compra.compra_id }}</td>
        <td>
          <ul>
            <li *ngFor="let item of compra.items" class="compras__tabla-list">
              Producto: {{ item.producto.nombre }}, precio:
              {{ item.producto.precio }}
            </li>
          </ul>
        </td>
        <td>{{ compra.monto }}</td>
        <td>{{ compra.fecha }}</td>
      </tr>
    </thead>
  </table>
</section>
