<div class="container-fluid row">
    <div class="col-sm-2">
        <a routerLink="/admin/producto/new" class="btn btn-primary">Nuevo Producto</a>
    </div>
    <div class="col-sm-2">
        <a  routerLink="/admin/categoria/new" class="btn btn-primary">Nueva Categoría</a>
        <a routerLink="/admin/categoria/edit" class="btn btn-primary">Editar Categoría</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/admin/entrada/new" class="btn btn-primary">Nuevo Ingreso</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/admin/ingresos" class="btn btn-primary">Ingresos</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/admin/usuarios" class="btn btn-primary">Usuarios</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/admin/ventas" class="btn btn-primary">Ventas</a>
    </div>

</div>

<app-stock></app-stock>


