<div class="container-fluid control">
  <div class="control__container">
    <h5 class="control__subtitle">Productos</h5>
    <a routerLink="/admin/stock" class="btn btn-go"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></a>
    <a routerLink="/admin/producto/new" class="btn btn-add"
      ><i class="fa-solid fa-file"></i
    ></a>
  </div>
  <div class="control__container">
    <h5 class="control__subtitle">Categorias</h5>
    <a routerLink="/admin/categoria/new" class="btn btn-add"
      ><i class="fa-solid fa-file"></i
    ></a>
    <a routerLink="/admin/categoria/edit" class="btn btn-edit"
      ><i class="fa-solid fa-pen-to-square"></i
    ></a>
  </div>

  <div class="control__container">
    <h5 class="control__subtitle">Ingresos</h5>
    <a routerLink="/admin/ingresos" class="btn btn-go"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></a>
    <a routerLink="/admin/entrada/new" class="btn btn-add"
      ><i class="fa-solid fa-file"></i
    ></a>
  </div>
  <div class="control__container">
    <h5 class="control__subtitle">Usuarios</h5>
    <a routerLink="/admin/usuarios" class="btn btn-go"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></a>
  </div>
  <div class="control__container">
    <h5 class="control__subtitle">Ventas</h5>
    <a routerLink="/admin/ventas" class="btn btn-go"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></a>
  </div>
</div>
