.carousel {
  background: var(--bone);
  padding: 2rem 0;
  width: 100%;
}

.picsum-img-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-link {
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}

.carousel-link:hover {
  text-shadow: 3px 3px 3px var(--white);
}

.carousel-img {
  width: 40rem;
  height: 32rem;

  background-color: var(--bone);
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  background: var(--charcoal);
  opacity: 0.9;
}
