<ngb-carousel *ngIf="images" class="carousel-fondo">
  <ng-template ngbSlide *ngFor="let img of images">
    <div class="picsum-img-wrapper">
      <img
        [src]="img.img_url_1"
        class="carousel-img"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <a
        routerLink="/producto"
        class="carousel-link"
        (click)="pickProduct(img.producto_id)"
      >
        <h3>{{ img.nombre }}</h3>
        <p>{{ img.tipo.nombre }} - u$s{{ img.precio }}</p>
      </a>
    </div>
  </ng-template>
</ngb-carousel>
