<div class="container-fluid cart-bg" *ngIf="cartgado">
  <h4 class="add-to-title">Añadir al carrito</h4>
  <div class="addRow">
    <div class="add-col">
      <h5>{{ prodXAgregar.nombre }}</h5>
      <p>{{ prodXAgregar.tipo.nombre }}</p>
    </div>
    <div class="add-col">
      <img src="{{ prodXAgregar.img_url_1 }}" alt="" style="width: 100px" />
    </div>
    <div class="add-col">
      <p>Precio: ${{ prodXAgregar.precio }}</p>
    </div>
    <div class="add-col">
      <form
        [formGroup]="carrito"
        class="addToCart"
        (ngSubmit)="crearCarrito(prodXAgregar.producto_id)"
      >
        <label class="addP">Cantidad:</label>
        <input
          type="number"
          formControlName="cantidad"
          placeholder="Elija"
          style="width: 60px"
          class="addI"
        />
        <button class="btn btn-add addB">
          <i class="fa-solid fa-check"></i>
        </button>
      </form>
    </div>

    <div class="add-col">
      <button class="btn btn-del" (click)="borrarDelStorage()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid fondo-tabla-cart" *ngIf="this.carritos != 0">
  <h3 class="cart-title">Carrito</h3>
  <div class="table-out">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Producto</th>
          <th>Imagen</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Editar/Borrar</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let cart of carritos">
          <td>{{ cart.cart_id }}</td>
          <td>
            {{ cart.producto.nombre }}
            <p>{{ cart.producto.tipo.nombre }}</p>
          </td>
          <td>
            <img
              src="{{ cart.producto.img_url_1 }}"
              alt="imagen del producto"
              style="width: 50px; height: 40px"
            />
          </td>
          <td>${{ cart.producto.precio }}</td>
          <td>
            <p *ngIf="!cart.cant_edit">{{ cart.cantidad }}</p>
            <form
              *ngIf="cart.cant_edit"
              [formGroup]="carrito"
              (ngSubmit)="editarCarrito(cart.cart_id)"
            >
              <input
                type="number"
                style="width: 50px"
                placeholder="{{ cart.cantidad }}"
                formControlName="cantidad"
              />
              <button class="btn btn-success">OK</button>
            </form>
          </td>
          <td>${{ cart.total_gastado }}</td>
          <td>
            <button class="btn btn-del" (click)="delCart(cart.cart_id)">
              <i class="fa-solid fa-xmark"></i>
            </button>
            <button class="btn btn-add" (click)="edit(cart.cart_id)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="total">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>Total:</h3>
          </td>
          <td>
            <h4>
              <em>${{ calcularTotal() }}</em>
            </h4>
          </td>
          <td>
            <button class="btn btn-nxt" (click)="siguiente()">Siguiente</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div *ngIf="cargado()">
  <h4 class="cart-empty">El carrito está vacío!</h4>
</div>
