.cart-bg {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  color: var(--bone);
}

/* Add to cart */

.add-to-title {
  color: var(--bone);
  text-align: center;
}

.addRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-color: slategrey;
  padding: 10px 20px;
  border-radius: 20px;
  width: 90%;
}

.add-col {
  border-style: solid;
  border-color: slategrey;
  border: 3px;
}

.addToCart {
  display: flex;
  flex-direction: row;
}

.addP {
  margin-left: 10px;
}

.addI {
  margin-left: 10px;
}

.addB {
  margin-left: 10px;
}

.btn {
  color: var(--white);
}

.btn-del {
  background: var(--english-red);
}

.btn-add {
  background: var(--bone);
}

.btn-nxt {
  background: var(--charcoal);
}

/* Tabla Carrito */
.fondo-tabla-cart {
  width: 80%;
}

.cart-title {
  text-align: center;
  color: var(--bone);
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px var(--cambridge-blue);
}

.table-out {
  background: var(--white);
  border-radius: 20px;
  padding: 1rem 0;
}

.table {
  background: var(--white);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

thead {
  text-align: center;
}

.table-body {
  text-align: center;
}

.cart-empty {
  color: var(--bone);
}
