@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding-top: 5rem;
  background: var(--grullo);
  font-family: "Poppins", sans-serif;
  color: var(--bone);
}

/* CSS HEX */
/* original */
/* :root {
  --white: #f8f5f5;
  --bone: #e9dec8ff;
  --grullo: #c0a999ff;
  --english-red: #9b4548ff;
  --charcoal: #3e494dff;
  --cambridge-blue: #92bca8ff;
} */
:root {
  --white: #edf2f4f0;
  --bone: #2b2d42;
  --grullo: #f5efef;
  --english-red: #ef233c;
  --charcoal: #d90429;
  --cambridge-blue: #8d99ae;
}

.tabla {
  margin: 2rem auto;
  width: 90%;
  background: var(--white);
  color: var(--bone);
  border-color: var(--cambridge-blue);
  box-shadow: 3px 3px 5px var(--cambridge-blue);
}

.tabla-title {
  background: var(--english-red);
  color: var(--white);
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px var(--bone);
}

.tabla-info {
  font-style: italic;
  font-weight: 500;
  vertical-align: top;
}

.tabla-list {
  text-align: left;
  list-style-type: none;
}

.tabla-info:nth-child(odd) {
  background: var(--cambridge-blue);
  color: var(--white);
  font-weight: 600;
}

.btn {
  color: var(--white);
  width: 100%;
}

.btn-borrar {
  background: var(--charcoal);
  width: 3rem;
}

.btn-editar {
  margin-left: 1rem;
  background: var(--bone);
  width: 3rem;
}

@media (max-width: 768px) {
  .tabla {
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
  }

  .tabla-title {
    font-size: 0.8rem;
  }

  .btn {
    width: 50%;
  }

  .btn-borrar {
    font-size: 0.5rem;
  }

  .btn-editar {
    font-size: 0.5rem;
    margin-left: 3rem;
  }
}
