@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding-top: 5rem;
  background: var(--grullo);
  font-family: "Poppins", sans-serif;
  color: var(--bone);
}

/* CSS HEX */
/* original */
/* :root {
  --white: #f8f5f5;
  --bone: #e9dec8ff;
  --grullo: #c0a999ff;
  --english-red: #9b4548ff;
  --charcoal: #3e494dff;
  --cambridge-blue: #92bca8ff;
} */
:root {
  --white: #edf2f4f0;
  --bone: #2b2d42;
  --grullo: #f5efef;
  --english-red: #ef233c;
  --charcoal: #d90429;
  --cambridge-blue: #8d99ae;
}
